<a href="https://colab.research.google.com/github/Choi-Moori/DAP__/blob/main/Project_dataanalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import numpy as np
import pandas as pd

In [32]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
file = '/content/20200701weatherinfo.csv'

In [34]:
df = pd.read_csv(file, encoding = 'cp949')
df.head()

    지점 지점명          일시  평균기온(°C)  ...  최고기온(°C)  일강수량(mm)  평균 상대습도(%)  평균 지면온도(°C)
0  108  서울  2020-07-01      21.1  ...      24.3       0.0        79.3         21.3
1  108  서울  2020-07-02      24.2  ...      29.8       NaN        74.5         24.5
2  108  서울  2020-07-03      25.5  ...      30.6       0.1        63.5         28.6
3  108  서울  2020-07-04      24.2  ...      29.5       1.6        63.9         28.2
4  108  서울  2020-07-05      23.8  ...      27.6       NaN        68.6         26.7

[5 rows x 9 columns]

In [35]:
file2 = '/content/20200701-20210630_bycle.csv'

In [38]:
df2 = pd.read_csv(file2, encoding = 'cp949')
df2.head()

         대여일시     대여건수
0  2020-07-01  105,196
1  2020-07-02  107,842
2  2020-07-03  102,753
3  2020-07-04   98,488
4  2020-07-05  104,664